@font-face {
	font-family: ChunkFive;
	src: url(../fonts/Chunkfive.otf);
}

@font-face {
	font-family: St Marie;
	src: url(../fonts/StMarie-Thin.otf);
}

/* Mobile Layout: 480px and below. */

/* ==================================MAIN================================== */

#container {
	background: #DCDCDC;
	width: 1000px;
	margin: auto;
	box-shadow: 0px 0px 30px #333;
	border: 2px solid #6a777f;
	border-top: none;
}

body {
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #33818C;
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #33818C 100%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #33818C 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #33818C 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #33818C)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #33818C 100%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #33818C 100%); /* W3C Markup, IE10 Release Preview */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
	font-family: ChunkFive, "Arial Black";
	font-size: 50px;
	margin-bottom: 10px;
}

h2 {
	font-family: ChunkFive, "Arial Black";
	font-size: 25px;
	margin: 10px 0px;
	text-align: center;
	border-bottom: 1px dotted #000;
}

h3 {
	font-family: ChunkFive, "Arial Black";
	margin-bottom: 3px;
}

p {
	line-height: 25px;
	margin-bottom: 15px;
}

.bold {
	font-weight: bold;
}

/* ==================================HEADER================================== */

header {
	width: 98%;
	padding: 1%;
	background: #173A3F;
	box-shadow: 0px 10px 20px #333;
	color: #efefef;
	text-align: right;
	text-shadow: 0px 0px 20px #000;
}

/* ==================================MAIN================================== */

#main {
	padding: 20px 0px;
	clear: both;
	border-top: 1px dotted #000;
	box-shadow: 0px 10px 20px #333;
}

/* ==================================ABOVE GAME================================== */

#aboveGame {
	text-align: center;
	border-bottom: 10px ridge #670001;
}

#aboveGame div {
	display: inline-block;
}

#name {
	width: 290px;
	text-align: left;
}
#logo {
	width: 400px;
	vertical-align: bottom;
}
#score {
	width: 290px;
	text-align: right;
}

#playerSide {
	width: 28%;
}
.name {
	float: left;
}
.score {
	float: right;
}

/* ==================================GAME================================== */

#game {
	position: relative;
}

#gameCanv {
	background: #000;
	width: 1000px;
	height: 600px;
	display: block;
}

#playerOneCanv, #playerTwoCanv {
	background: #000;	
	width: 499.5px;
	height: 600px;
	float: left;
	margin-bottom: 20px;
}
#playerOneCanv {
	border-right: 1px solid #000;
}

#gameContent {
	top: 200px;
	left: 0;
	position: absolute;
	width: 100%;
}

#gameContent h2 {
	font-family: ChunkFive, "Arial Black";
	font-size: 50px;
	border-bottom: none;
	color: #fff;
	margin-bottom: 50px;
}

#gameContent input {
	text-align: center;
	margin: auto;
	display: block;
	padding: 7px 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #efefef;
}

#gameContent form #nextButton, #gameContent form #twoPlayerNext {
	margin: 50px 0px 0px 900px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 50px solid green;
	background: none;
	border-right: none;
	cursor: pointer;
} #gameContent form #nextButton:hover, #gameContent form #twoPlayerNext:hover {
	opacity: .6;
}

#gameContent .levelName {
	display: inline-block;
	text-align: center;
	border-radius: 15px;
	padding: 50px 40px;
	cursor: pointer;
	border: none;
	background: #173a3f;
	color: #fff;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	margin: 0px 50px;
}
#gameContent .levelName:hover {
	opacity: .65;
}
#gameContent .levelName:focus {
	opacity: .25;
}
#gameContent .levelName p {
	margin-top: 45px;
}

#gameContent .option {
	display: inline-block;
	width: 120px;
	vertical-align: middle;
	text-align: center;
	border-radius: 15px;
	padding: 30px 20px;
	cursor: pointer;
	border: none;
	background: #173a3f;
	color: #fff;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 17px;
	margin: 0px 50px;
}
#gameContent .option:hover {
	opacity: .65;
}
#gameContent .option:focus {
	opacity: .25;
}
#gameContent .option p {
	margin-top: 45px;
}

#gameContent form p {
	color: #efefef;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 17px;
	margin: 50px 0px;
}

#buttons {
	width: 100%;
	text-align: center;
}

.playerControls {
	width: 484.5px;
	float: left;
	background: #999;
	box-shadow: 0px 0px 20px #999;
	position: relative;
	top: 364px;
	overflow: hidden;
	padding: 10px 0px 10px 15px;
	text-align: center;
}
.playerControls h4 {
	display: inline-block;
	float: left;
}
.playerControls:first-child {
	border-right: 1px solid #666;
}
.keyControls {
	float: right;
	width: 200px;
}
.keys {
	border: 1px dotted #222222;
	padding: 3px 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	background: #666;
	margin-left: 10px;
}

.twoPlayerNameForm {
	width: 45%;
	position: relative;
	display: inline-block;
}

.userName {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-left: 7px;
	vertical-align: middle;
}

/* ==================================SCOREBOARD================================== */

#scoreboard {
	width: 90%;
	margin: auto;
	box-shadow: 0px 5px 10px #000;
}

#scoreboard table {
	width: 100%;
}

#scoreboard tr:nth-child(even) {
	background: #CCC;
}
#scoreboard tr:nth-child(odd) {
	background: #DCDCDC;
}

#scoreboard th {
	border-bottom: 1px solid #666;
	font-size: 16px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#scoreboard td:last-child {
	text-align: center;
}

#scoreboard th, #scoreboard td {
	width: 50%;
	padding: 5px;
}